:root{
  /* Primary colors */
  --Pale-blue: #e0e8ff;
  --Bright-blue: #3829e0;
  /* Neutral colors */
  --Very-pale-blue: rgb(245, 247, 255);
  --Desaturated-blue: rgb(114, 128, 167);
  --Dark-blue: rgb(31, 47, 86);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Red Hat Display', sans-serif;
}